.form-group{
    width: 55%;
}

.card{
    width: 12rem;
    margin-right: 10px;
    float: right;
    background-color: lightgray;
}

.jumbotron{
    height: 150px;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    background-image: url("weather.png");
}
.empty{
    background-image: url("weather.png");
}